<html>
	<head>
		<!--Dont forget the slash to access always at the home url-->
		<link href="/assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<!--The parameters are outputed with this special caracters <%= PARAMETER %>-->
		<h1>Person: <%= ID %></h1>
	</body>
</html>