<html>
	<head>
		<title>The MEAN stack</title>
		<!-- CDN from angular to offer the file to the client without make our server deal with so much requests for this file -->
		<!--This is the uncompressed version to deal better with errors -->
		<!--This is not being processed by node in anyway, is only clientside -->
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
	</head>
	<body>
	</body>
</html>